.photo-grid {
  margin: 50px auto;
  display: grid;
  max-width: 1184px;
  --columns-num: auto-fill;
  --columns-width: 284px;
  grid-template-columns: repeat(var(--columns-num), var(--columns-width));
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 1279px) and (min-width: 1025px) {
  .photo-grid {
    width: calc(100%*(928/1024));
    --columns-num: 4;
    --columns-width: auto;
    gap: 14px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .photo-grid {
    width: calc(100%*(928/1024));
    --columns-num: 3;
    --columns-width: minmax(auto, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .photo-grid {
    width: calc(100%*(720/768));
    --columns-num: 2;
    --columns-width: minmax(auto, 352px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: calc(100%*(288/320));;
    display: block;
  }
}

