.places {
  max-width: 984px;
  margin: 91px auto;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .places {
    width: calc(100%*(928/1024));
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .places {
    width: calc(100%*(720/768));
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) and (min-width: 612px) {
  .places {
    margin: 88px var(--places-side-margin);
    max-width: calc(100%*(288/320));
  }
}

@media screen and (max-width: 500px) {
  .places {
    width: 100%;
    margin: min(calc(100%*(64/320)), 88px) auto;
  }
}
