.lead {
  color: white;
  margin: 56px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead {
    width: calc(100%*(928/1024));
    margin-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: calc(100%*(720/768));
    min-width: min(100%, 768px);
    max-width: 928px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    min-width: 100%;
  }
}
