.lead__title {
  max-width: 720px;
  margin: 56px auto 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: calc(100vw*(40/320));
  }  
}