.place__item_type_img {
  line-height: 0;
}

@media screen and (max-width: 611px) {
  .place__item_type_img {
    width: calc(100%*(288/320));
  }
}

@media screen and (max-width: 490px) {
  .place__item_type_img {
    width: 100%;
    max-width: 442px;
  }
}

