.footer {
  padding-bottom: 24px;
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  color: white
}

@media screen and (max-width: 1279px) {
  .footer {
    width: calc(100%*(928/1024));
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: min(calc(100%*(720/768)), 928px);
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer {
    max-width: calc(100%*(288/320));
  }
}

@media screen and (max-width: 470px) {
  .footer {
    display: block;
  }
}
