.intro__title {
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  margin: 0 0 40px;
  max-width: 690px;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 539px) {
  .intro__title {
    font-size: calc(100vw*(32/320));
  }  
}